<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <title>Arbitrage</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='arbitrage.js') }}"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <style>
            .history:hover {
            background: #f2f2f2;
            /* Цвет фона под ссылкой *
                color: #ffe;
            }
    </style>
</head>

<body>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container" style="font-size: 14px">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> <a class="navbar-brand" href="#">Crystal</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item active"> <a class="nav-link" href="#">Arbitrage</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="api-binding">API Binding</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="settings">Settings</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="withdrawal">Withdrawal</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="balance">Balance</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="stats">Stats</a> </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">History</div>
                    <div class="card-body pre-scrollable" id="his" style="height: 300px; max-height: 1000px;">
                        <div class="history" style="padding: 5px; font-size: 12px" onclick="update('1539518281')">
                            <label style="font-weight: normal">Chain Bittrex ETH LTC NEO BTC | Binance BTC NEO ETH</label>
                            <label style="font-weight: normal; float: right; color: green">success</label>
                        </div>
                        <div class="history" style="padding: 5px; font-size: 12px" onclick="update('1539518282')"> <label style="font-weight: normal">Chain Bittrex ETH LTC NEO BTC | Binance BTC NEO ETH</label> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Log</div>
                    <div class="card-body pre-scrollable" style="height: 300px"> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header" id="trades_h">Trades</div>
                    <div class="card-body" style="font-size: 12px">
                        <div class="row" id="info" style="padding: 5px; padding-bottom: 15px;">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" data-search="false" data-minimum-count-columns="2" data-pagination="false" data-page-size="5" data-id-field="id" data-show-footer="false" style="white-space: pre; font-size: 12px"> </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var $table = $('#table');
        var data = {{ data | tojson }};
        data = data.reverse()
        $(function() {
            var trades1 = JSON.parse(data[0]["data"])['trades1']
            var trades2 = JSON.parse(data[0]["data"])['trades2']
            initTable(trades1.concat(trades2));
        });
        load_history(data)
    </script>
    <script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!--<script>-->
    <!--setInterval(function () { initlist(); }, 1000)-->
    <!--</script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>