<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="/static/style.css" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{ url_for('static', filename='settings.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='settings_table2.js') }}"></script>
    <title>Settings</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> <a class="navbar-brand" href="#">Crystal</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="arbitrage">Arbitrage</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="api-binding">API Binding</a> </li>
                    <li class="nav-item active"> <a class="nav-link" href="#">Settings</a> </li>
                    <li class="nav-item "> <a class="nav-link" href="withdrawal">Withdrawal</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="balance">Balance</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="stats">Stats</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Email</div>
                    <div class="card-body">
                        <div class="form-group">
                            <input id="temail" type="text" class="form-control w-75" style="float: left; margin-right: 10px" value="{{ email }}">
                            <button id="email" class="btn btn-primary btn-sm" type="submit" style="float: right" onclick="apply(id)"> <i id="iemail" class="fa fa-square-o"></i> Apply </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Command</div>
                    <div class="card-body">
                        <div class="form-group">
                            <input id="tscript" type="text" class="form-control w-75" style="float: left; margin-right: 15px" value="{{ command }}">
                            <button id="script" class="btn btn-primary btn-sm" type="submit" style="float: right" onclick="apply(id)"> <i id="iscript" class="fa fa-square-o"></i> Apply </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Exchanges</div>
                    <div class="card-body" id="exchBody"></div>
                </div>
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Trade amount</div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Thresholds</label>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label style="margin-top: 15px; font-size: 12px" class="w-100">Minimal trade amount</label>
                                        <span style="padding: 7px;">BTC</span>
                                        <input id="amount_min_btc" type="text" class="form-control w-50" style="margin-bottom: 15px" value="{{ amount_min_btc }}">
                                     </div>
                                     <div class="row">
                                         <span style="padding: 7px;">ETH</span>
                                         <input id="amount_min_eth" type="text" class="form-control w-50" style="margin-bottom: 15px" value="{{ amount_min_eth }}">
                                     </div>
                                     <div class="row">
                                         <span style="padding: 7px;">USDT</span>
                                         <input id="amount_min_usdt" type="text" class="form-control w-50" style="" value="{{ amount_min_usdt }}">
                                     </div>
                                </div>
                                <div class="col-sm-6">
                                    <label style="margin-top: 15px; font-size: 12px" class="w-100">Maximal trade amount</label>
                                     <div class="row">
                                         <span style="padding: 7px;">BTC</span>
                                         <input id="amount_max_btc" type="text" class="form-control w-50" style="margin-bottom: 15px" value="{{ amount_max_btc }}">
                                     </div>
                                     <div class="row">
                                         <span style="padding: 7px;">ETH</span>
                                         <input id="amount_max_eth" type="text" class="form-control w-50" style="margin-bottom: 15px" value="{{ amount_max_eth }}">
                                     </div>
                                     <div class="row">
                                         <span style="padding: 7px;">USDT</span>
                                         <input id="amount_max_usdt" type="text" class="form-control w-50" style="" value="{{ amount_max_usdt }}">
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="margin-top: 20px;">
                                    <label style="float: left; margin-top: 25px; margin-left: 10px; margin-right: 25px">No more than</label>
                                    <input id="walletPercent" type="text" class="form-control w-25" style="float: left; margin-top: 15px" value="{{ walletPercent }}">
                                    <label style="float: left; margin-top: 25px; margin-left: 10px">(%) of wallet</label>
                                    <input type="range" class="form-control-range w-75" oninput="range()" id="formControlRange" style="float: left; margin-top: 20px">
                                    <button class="btn btn-primary btn-sm" type="submit" style="float: right; margin-top: 15px" onclick="apply3()"> <i id="iapply3" class="fa fa-square-o"></i> Apply </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Filter</div>
                    <div class="card-body" style="height: 450px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="w-100" style="margin-left: 20px; margin-bottom: 10px;">Add coin to blacklist</label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="token" placeholder="BTC">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary btn-sm" style="float: right;" type="submit" onclick="addButton()">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>
                                <table id="table2" data-minimum-count-columns="2" data-pagination="true" data-page-size="5" data-id-field="id" data-show-footer="false" data-response-handler="responseHandler" data-pagination-first-text="First" data-pagination-pre-text="Previous" data-pagination-next-text="Next" data-pagination-last-text="Last" max-height="300px" style="font-size: 14px"> </table>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="volume">24 hour volume threshold (in USDT)</label>
                                    <input id="volume" type="text" class="form-control w-75" style="float: left; margin-right: 10px" value="{{ volume }}">
                                    <label for="timeout" style="margin-top: 15px">Filter update timeout (in hours)</label>
                                    <input id="timeout" type="text" class="form-control w-75" style="float: left; margin-right: 10px;" value="{{ timeout }}">
                                    <button class="btn btn-primary btn-sm" type="submit" style="float: right" onclick="apply2()"> <i id="iapply2" class="fa fa-square-o"></i> Apply </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Pre transfer</div>
                    <div class="card-body">
                        <div class="form-group">
                            <!--<div><label>Min density Min frequency Time</label></div>-->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="density">Min density (%)</label>
                                    <input id="density" type="text" class="form-control" style="float: left; margin-right: 10px" value="{{ density }}">
                                </div>
                                <div class="col-sm-3">
                                    <label for="frequency">Min frequency</label>
                                    <input id="frequency" type="text" class="form-control" style="float: left; margin-right: 10px" value="{{ frequency }}">
                                </div>
                                <div class="col-sm-3">
                                    <label for="time">Time</label>
                                    <input id="time" type="text" class="form-control" style="float: left; margin-right: 10px;" value="{{ time }}">
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-sm" type="submit" style="float: right; margin-top: 25px" onclick="apply4()"> <i id="iapply4" class="fa fa-square-o"></i> Apply </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var $table2 = $('#table2'), $remove2 = $('#remove2');
        var data = {{ data | tojson }};
        var data2 = {{ data2 | tojson }};
        init()
    </script>
</body>

</html>