<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Stats</title>
    <!--<script type=text/javascript src="{{ url_for('static', filename='Chart.min.js') }}"></script>-->
    <!--<script type=text/javascript src="{{ url_for('static', filename='stats.js') }}"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> </head>
      <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<body>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> <a class="navbar-brand" href="#">Crystal</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="arbitrage">Arbitrage</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="api-binding">API Binding</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="settings">Settings</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="withdrawal">Withdrawal</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="balance">Balance</a> </li>
                    <li class="nav-item active"> <a class="nav-link" href="#">Stats</a> </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--<div class="container" id="charts">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<div class="card bg-light mb-3 mt-3">-->
                    <!--<div class="card-header">Coins activity BINANCE</div>-->
                    <!--<div class="card-body">-->
                        <!--<canvas id="popChart" width="600" height="400"></canvas>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="card bg-light mb-3 mt-3">-->
                    <!--<div class="card-header">Coins activity OKEX</div>-->
                    <!--<div class="card-body"> </div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<div class="card bg-light mb-3 mt-3">-->
                    <!--<div class="card-header">Coins activity BITTREX</div>-->
                    <!--<div class="card-body"> </div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="card bg-light mb-3 mt-3">-->
                    <!--<div class="card-header">Coins activity HITBTC</div>-->
                    <!--<div class="card-body"> </div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>