<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="/static/style.css" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type=text/javascript src="{{ url_for('static', filename='withdrawal_table.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='withdrawal_table2.js') }}"></script>
    <title>Withdrawal</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> <a class="navbar-brand" href="#">Crystal</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="arbitrage">Arbitrage</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="api-binding">API Binding</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="settings">Settings</a> </li>
                    <li class="nav-item active"> <a class="nav-link" href="#">Withdrawal</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="balance">Balance</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="stats">Stats</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Withdrawal coins settings</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row" style="margin-bottom: 10px">
                                    <button class="btn btn-danger btn-sm" style="margin: auto;" type="submit" onclick="disableButton()"> <i class="fa fa-times"></i> Disable Withdraw </button>
                                    <button class="btn btn-success btn-sm" style="margin: auto;" type="submit" onclick="enableButton()"> <i class="fa fa-check"></i> Enable Withdraw</button>
                                    <button class="btn btn-danger btn-sm" style="margin: auto;" type="submit" onclick="disableButton2()"> <i class="fa fa-times"></i> Not Preferred</button>
                                    <button class="btn btn-success btn-sm" style="margin: auto;" type="submit" onclick="enableButton2()"> <i class="fa fa-check"></i> Preferred </button>
                                </div>
                                <table id="table2" data-search="true" data-sort-name="coin" data-minimum-count-columns="2" data-pagination="true" data-page-size="20" data-id-field="id" data-show-footer="false" data-response-handler="responseHandler" data-pagination-first-text="First" data-pagination-pre-text="Previous" data-pagination-next-text="Next" data-pagination-last-text="Last" style="font-size: 14px"> </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Deposit expiration</div>
                    <div class="card-body">
                        <div class="form-group">
                            <input id="tde" type="text" class="form-control w-75" style="float: left; margin-right: 10px" value="{{ deposit_expiration }}">
                            <button id="de" class="btn btn-primary btn-sm" type="submit" style="float: right" onclick="apply()">
                                <i id="ide" class="fa fa-square-o"></i> Apply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-header">Transfers</div>
                    <div class="card-body">
                        <table id="table"
                           data-search="true"
                           data-minimum-count-columns="2"
                           data-pagination="true"
                           data-page-size="50"
                           data-page-list="[50, 100]"
                           data-id-field="id"
                           data-show-footer="false"
                           data-response-handler="responseHandler"
                           data-pagination-first-text="First"
                           data-pagination-pre-text="Previous"
                           data-pagination-next-text="Next"
                           data-pagination-last-text="Last"
                           style="white-space: pre; font-size: 14px">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var $table = $('#table'),
        $remove = $('#remove'),
        selections = [];
        var $table2 = $('#table2'),
            $remove2 = $('#remove2'),
            selections = [];
        var data = {{ data|tojson }};
        var data2 = {{ data2 | tojson }};
        $(function() {
            initTable();
        });
        $(function() {
            initTable2();
        });
        var olddata = ''
        $('#table2').on('check.bs.table', function(e, row) {
            checkedRows.push({
                coin: row.coin
            });
            <!--console.log(checkedRows);-->
        });
        $('#table2').on('check-all.bs.table', function(e, rows) {
            checkedRows = []
            for (var t = 0; t < rows.length; t++) {
                checkedRows.push({
                    coin: rows[t].coin
                });
                <!--console.log(checkedRows);-->
            }
        });
        $('#table2').on('uncheck.bs.table', function(e, row) {
            $.each(checkedRows, function(index, value) {
                if (typeof value !== 'undefined') {
                    if (value.coin === row.coin) {
                        checkedRows.splice(index, 1);
                    }
                }
            });
            <!--console.log(checkedRows);-->
        });
        $('#table2').on('uncheck-all.bs.table', function(e, rows) {
            checkedRows = []
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>